@import 'src/assets/mixins';

.wrapper {
  border-radius: $radius;
  transition: $transition;
  padding: 20px 30px;
  display: flex;
  background-color: $color-project;
  position: relative;

  &:hover {
    background-color: $color-project-hover;
    transform: translateY(-2px) scale(1.005);
    box-shadow: 0 10px 10px -3px rgba(0, 0, 0, 0.2);
  }
}

.title {
  width: 25%;
  @include h4();
}

.description {
  width: 40%;
  @include h5($color-text-gray-light);
}

.supervisor {
  width: 35%;
  padding-right: 100px;
  @include h4();
}

.arrow {
  transform: rotate(180deg);
  @include buttonSmall();
}

.btnsWrapper {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 5px;
}
