@import 'src/assets/mixins';

.wrapper {
  position: relative;
}

.primaryBtn {
  @include button($color-btn-primary);
  background-color: $color-btn-primary;
}

.secondaryBtn {
  @include button($color-btn-secondary);
  background-color: $color-btn-secondary;
  color: #000;
}

.small {
  @include buttonSmall();
}
