@import 'src/assets/mixins';

.wrapper {
  position: relative;
}

.primaryBtn {
  @include button($color-primary);
  background-color: $color-primary;
}

.secondaryBtn {
  @include button($color-secondary);
  background-color: $color-secondary;
  color: #000;
}

.small {
  @include buttonSmall();
}

.disabledBtn {
  background-color: $color-disabled;
  cursor: not-allowed;
  box-shadow: none;

  &:hover {
    box-shadow: none;
  }
}
