@import 'src/assets/mixins';

.row {
  display: flex;
  gap: 20px;

  > div {
    flex: 1;
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 25px;
  transition: $transition;
}

.subtasksWrapper {
  padding: 10px;
  background-color: $color-project;
  border-radius: $radius;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 200px;
}

.subtaskHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.subtaskBtn {
  @include h5($color-text-white);
  height: 35px;
  padding: 0 15px;
}
