@import 'src/assets/mixins';

.projectsInfo {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  border: 1px solid $color-project;
  border-radius: $radius;
  padding: 20px 30px;

  div {
    p:first-child {
      @include h5();
      margin-bottom: 5px;
    }

    p:last-child {
      @include h4();
    }
  }
}

.description {
  flex: 1;
}

.supervisor,
.title {
  min-width: 200px;
}

.btnsWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.board {
  display: flex;
  background-color: $color-project;
  border-radius: $radius;
  gap: 40px;
  padding: 40px;
  margin-top: 30px;
}

.statusTitle {
  @include h3();
  text-align: center;
}

.boardItem {
  flex: 1;
}

.card {
  background-color: $color-bg;
  border-radius: $radius;
  padding: 10px;
  margin-top: 15px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.searchWrapper {
  display: flex;
  margin-top: 30px;
  align-items: end;
}

.searchBtn {
  align-self: end;
  border: 1px solid transparent;
  border-radius: 0 $radius $radius 0;
  padding: 0 20px;
  box-shadow: none;
}

.searchInput {
  border-radius: $radius 0 0 $radius;
}
