$color-text-white: #ffffff;
$color-text-gray: #7d8590;
$color-text-gray-light: #b8b8b8;
$color-bg: #161b22;
// $color-bg-modal: #454d55;
$color-btn-primary: #1f87ff;
$color-btn-secondary: #ffffff;
$color-project: #1e2229;
$color-project-hover: #2a2f38;

$radius: 6px;
$transition: 0.3s;
