$color-text-white: #ffffff;
$color-text-gray: #7d8590;
$color-text-gray-light: #b8b8b8;
$color-bg: #161b22;
$color-primary: #1f87ff;
$color-disabled: #8ac1ff;
$color-secondary: #ffffff;
$color-error: #e60000;
$color-project: #1e2229;
$color-project-hover: #2a2f38;

$radius: 6px;
$transition: 0.3s;
